@import '/src/styles/shared.scss';

.widget{
    background-color: $backdark;
    border-radius: 8px;
    padding: 24px;
    min-height: 360px;
    box-shadow: inset 0 -2px 2px rgba(193,193,193,0.1), inset -2px -4px 8px rgba(0,0,0,0.2), 0 2px 2px rgba(193,193,193,0.1), 2px 4px 8px rgba(0,0,0,0.2);
}

.form_element{
    text-align: center;
}

.statistic_list{
    @extend %list;
    font-size: 24px;
    text-align: start;
    padding-top: 20px;
    padding-left: 28px;
}

.btn_list{
    @extend %list;
    padding: 20px;
}

.btn_feedback{
    @extend %button;
    font-size: 20px;
    border-radius: 4px;
    background-color: $backLight;
    box-shadow: inset -2px -2px 4px rgba(0,0,0,0.3), inset 2px 2px 4px #fff, 0 2px 2px rgba(193,193,193,0.1), 2px 4px 8px rgba(0,0,0,0.2);
    padding: 4px 6px 4px 4px;
    &:not(:last-child){
        margin-right: 20px;
    }
    &:hover{
        background-color:#e0e5ebf3;
        box-shadow: inset -2px -2px 2px rgba(0,0,0,0.3), inset 2px 2px 2px #fff;
    }
    &:active{
        padding: 5px 5px 3px 5px;
        background-color:#e0e5ebdd;
        color: $headerColor;
        box-shadow: inset 1px 4px 4px rgba(193,193,193,0.1), inset 1px 2px 3px rgba(0,0,0,0.3);
    }
}

.form_message{
    font-size: 20px;
font-style: italic;
}